@import './../../../../variables';

.CollectionProduct {
    width: 8.75em;
    height: 11.25em;
    background-color: $secondary-color-light;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0.625em;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    text-decoration: none;

    > .Product-image {
        flex: 1;
        max-height: 6.875em;
        min-height: 6.875em;
        position: relative;
        overflow: hidden;

        > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: 200ms;
        }

        > .Store-Name {
            position: absolute;
            bottom: 0;
            min-height: 0.9375em;
            background-color: rgb(0 0 0 / 0.30);
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0.25em 0.4375em;

            > h5 {
                color: $secondary-color-light-alt;
                font-size: 0.4375em;
            }
        }
    }

    > .Product-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.3125em;
        padding: 0.625em;

        align-content: center;
        
        align-items: center;

        text-align: center;

        > .Product-name {
            color: #000;
            font-size: 0.625em;
            text-align: center;
        }

        > .Product-price {
            
            min-height: 1em;
            
            padding: 0.25em 0.8125em;
            background-color: $secondary-color-dark;
            border-radius: 0.3125em;
            
            font-size: 0.5em;
            color: $secondary-color-light-alt;
            font-weight: $bold-700;
        }
    }

    &:hover {
        > .Product-image {
            > img {
                transform: scale(1.115);
            }
        }
    }
}